/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/* Definições de variáveis CSS */
:root {
    --primary-color: #ffffff;
    --secondary-color: #1089FF;
    --background-light: #F8F9FD;
    --hov-color: #1472d0;
    --text-color: #020210;
    --text-color2: #9897c7;
    --error: #de526a;
    --transparent:  rgba(0, 0, 0, 0.1);
    --menu-tam: 300px;
    --space-tam: 2em;
    --space-tam-small: 1em;
    --exemplo: #9897c7;
}

/* Reset de estilos padrão */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Estilos do corpo da página */
body {
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 16px;
    background-color: var(--background-light);
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

/* Container principal do login */
#login-container {
    height: 100vh;
    width: 100%;
}

/* Estilos gerais do container */
.container {
    width: 90%;
    margin: auto;
}

/* Estilo para elemento selecionado */
.selected {
    color: var(--secondary-color);
}

/* Estilo de texto */
.text {
    color: var(--text-color);
}

/* Área do cabeçalho */
#header-area {
    background-color: var(--primary-color);
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: .5s ease;
    border-radius: 4px;

}

#login-container #header-area {
    width: 100%;
}

#header-area .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-area .container .logo-icon {
    width: 50px;
    user-select: none;
}

/* Ícones no cabeçalho */
#header-area .bi {
    cursor: pointer;
    font-size: 1.5em;
    user-select: none;
    transition: .3s ease;
}

#login-container #header-area .bi,
#header-area #switch-mode .bi {
    color: var(--secondary-color);
}

#header-area #switch-mode .bi:hover {
    color: var(--secondary-color);
}

.container #switch-mode {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modo de troca de tema */
#switch-mode {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Estilos do botão de troca de tema */
#switcher {
    width: 3em;
    height: 1.5em;
    background-color: #1089FF;
    padding: 0 .2em;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 1em;
    transition: .7s ease;
}

#switcher.ligth-mode {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#switcher.dark-mode {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #F8F9FD;
}

#switcher .btn-switch {
    width: 1em;
    height: 1em;
    background-color: var(--primary-color);
    border-radius: 50%;
}

/* Área principal */
#main-area {
    width: 100%;
    height: calc(100% - 138px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-area .container {
    position: relative;
    max-width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Estilos dos modais */
.modal {
    position: absolute;
    padding: 0 3em;
    transition: all 1s ease;
}

@media screen and (min-width: 900px) {
    .modal {
        width: 400px;
    }
}

.modal:nth-child(1) {
    left: 0;
}

.modal:nth-child(2) {
    left: 400px;
}

.modal:nth-child(3) {
    left: 800px;
}

.modal:nth-child(4) {
    left: 1200px;
}

/* Estilos do formulário de login */
.modal .icon {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 2em;
    width: 80px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: .5em;
    overflow: hidden;
}

.modal .title {
    font-size: 1.5em;
    text-align: center;
}

.modal .title2 {
    margin-bottom: 0em;
}

.modal .subtitle {
    text-align: center;
}

.modal .form-control {
    margin-bottom: 1.4em;
    position: relative;
}

.modal .form-control.no-bottom {
    margin-bottom: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control.no-bottom button {
    width: 50%;
}

.modal label {
    position: absolute;
    font-weight: 700;
    color: var(--text-color2);
    transition: .5s ease;
}

.modal label.lbl-error {
    color: var(--error);
}

.modal label.no-label-effect {
    top: 14px;
    left: 12px;
    font-size: 1em;
}

.modal label.label-effect {
    top: -18px;
    left: 0px;
    font-weight: 700;
    font-size: .7em;
}

.modal input {
    font-size: 1em;
    border-radius: 4px;
}

.modal-up input {
    padding: .7em;
    width: 100%;
}

.modal input.border {
    border: 1px solid var(--error);
}

.modal input.input-focus {
    border: 1px solid var(--secondary-color);
}

.modal input.passWord {
    padding: .7em 2.5em .7em .7em;
}

.modal .personal {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal .eye {
    position: absolute;
    top: 8px;
    right: 12px;
    color: var(--secondary-color);
    font-size: 1.5em;
    cursor: pointer;
    z-index: 2;
}

.modal .error-message {
    color: var(--error);
    font-size: .8em;
    font-style: italic;
    transition: .3s ease;
}

.modal .error-message.hide {
    display: none;
}
/*
.modal .hideCode {
    opacity: 0;
}*/

.modal .error-message .bi {
    margin-right: .5em;
}

.modal .btn-submit {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    font-weight: 700;
    cursor: pointer;
    padding: .8em 0;
}

/* Remoção de botões de incremento/decremento para input de número */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Mensagem de confirmação */
.modal-confirmation .text-confirmation {
    margin-bottom: 1.5em;
}

/* Contêiner de elementos flexíveis */
.modal .cont {
    margin-top: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .left {
    position: relative;
    display: inline-flex;
}

.modal .left a {
    font-weight: 700;
}

.modal .cont a {
    font-size: .8em;
    color: var(--text-color);
    text-decoration: none;
    transition: .3s;
}

.modal .cont a:hover {
    text-decoration: underline;
}

.modal .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Formulário do modal de código */
.modal-code form {
    margin-top: 2em;
}

.modal-code form .form-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-code form .form-control input {
    width: 3em;
    height: 3em;
    text-align: center;
    margin-right: 1em;
}

.modal-code form .form-control input:nth-child(4) {
    margin-right: 0em;
}

/* Dashboard */

/* Container */
#dash-container {
    transition: .3s;
}

@media screen and (min-width: 900px) {
    #dash-container {
        padding: 2em;
        transition: .3s;
    }

    #dash-container #header-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - var(--menu-tam) - var(--space-tam));
        margin-left: calc(var(--menu-tam) + var(--space-tam));
    }
}

/* Header Area */
#dash-container #header-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em var(--space-tam);
}

#header-area #header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header-area .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header-area .header-right p {
    position: relative;
}

#header-area .header-right .bi-chat-dots,
#header-area .header-right .bi-bell {
    font-size: 1.6em;
    color: var(--secondary-color);
    font-weight: 700;
}

#header-area .header-right #user-area {
    font-size: 2em;
    color: var(--secondary-color);
    margin-left: 1em;
}

#header-area .header-right .bi-chat-dots {
    margin-right: .6em;
}

#header-area .header-right .bi.bired {
    position: absolute;
    color: red;
    user-select: none;
    font-size: 10px;
    left: 14px;
}

/* Nav Menu */
#dash-nav {
    position: fixed;
    background-color: var(--primary-color);
    border-radius: 4px;
    top: 2em;
    transition: .5s ease;
    padding: 0 1em 1em 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: calc(100vh - var(--space-tam-small) - var(--space-tam-small)); /*rever isso*/
}

@media screen and (max-width: 900px) {
    #dash-nav {
        top: 90px;
    }
}

#dash-nav.big-menu {
    width: var(--menu-tam);
}

#dash-nav.small-menu {
    width: 80px;
}
/*
#dash-nav.small-menu .dash-li-menu {
    border-radius: 50%;
}*/

/* Logo */
#dash-nav #dash-logo {
    height: 89px;
    border-bottom: 1px solid var(--transparent);
    transition: .7s ease;
}

#dash-nav #dash-logo.pos-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#dash-nav #dash-logo.pos-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-area #btn-menu {
    font-size: 2em;
    cursor: pointer;
    color: var(--secondary-color);
    transition: .3s ease;
    margin-right: 1em;
}

#dash-nav #dash-logo img {
    width: 40px;
}

#dash-nav #dash-logo #img-logo.hide,
#dash-nav li .list-item.hide {
    display: none;
}

#dash-nav #dash-logo #img-logo.show {
    display: block;
}

/* Menus */

ul {
    list-style: none;
}

#dash-nav #dash-menu {
    padding-top: var(--space-tam-small);
}

#dash-nav li {
    transition: .1s;
    position: relative;
    border-radius: 20px;
}

#dash-nav.small-menu li {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    transition: .3s;
}

#dash-nav .dash-li-menu:hover {
    background-color: var(--background-light);
    padding: .2em;
}

#dash-nav li a {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: 400;
    width: 100%;
    padding: .7em .5em;
    text-decoration: none;
    transition: .1s;
}

#dash-nav li a:hover {
    color: var(--secondary-color);
}

#dash-nav li .li-principal {
    display: inline-flex;
    align-items: center;
}

#dash-nav li .list-item {
    transition: .3s ease;
}

.first-bi {
    margin-right: .5em;
}

#dash-nav li .list-item.show-list {
    display: flex;
}

#dash-nav li .bi-circle-fill {
    font-size: .5em;
    color: var(--secondary-color);
}

.dash-li-menu {
    position: relative;
    /*margin-bottom: 9em;*/
}

#dash-nav hr {
    width: 100%;
    margin: 2em 0;
    opacity: .2;
}

#dash-nav #config-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 3em;
}


/* User Painel */
.user-area-show p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-area-show {
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    padding: var(--space-tam-small);
    border-radius: 4px;
    top: 80px;
    right: 0;
    transition: .3s ease;
}

.user-area-show.close-menu {
    opacity: 0;
    z-index: -1;
}

.user-area-show.open-menu {
    opacity: 1;
    z-index: 2;
}

.user-area-show hr {
    margin-top: 1em;
    margin-bottom: var(--space-tam-small);
    opacity: .2;
}

.user-area-show #options p {
    font-size: 1em;
    display: flex;
    justify-content: left;
    font-weight: 400;
}


.user-area-show #options p:nth-child(1) {
    margin-bottom: .5em;
}

.user-area-show #options p:nth-child(2) {
    font-size: 1em;
    margin-bottom: .5em;
}

.user-area-show p:nth-child(1) {
    font-size: .9em;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.user-area-show p:nth-child(2) {
    font-size: .9em;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.user-area-show p:nth-child(5) {
    margin-bottom: 0;
}

.user-area-show .bi {
    margin-right: .5em;
}

.user-area-show .bi:hover {
    color: var(--hov-color);
}

.user-area-show .notification-icon {
    font-size: .8em;
    transition: .1s;
}

.user-area-show .notification-icon a {
    text-decoration: none;

}

.user-area-show .notification-icon:hover {
    color: var(--hov-color);
}

.user-area-show .notification-icon a:hover {
    color: var(--hov-color);
}


/* MAni Area */
#main-area-dash {
    width: calc(100% - var(--menu-tam) - var(--space-tam));
    margin-left: calc(var(--menu-tam) + var(--space-tam));
    margin-top: var(--space-tam);
    transition: .7s ease;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: var(--space-tam-small);
    border-radius: 4px;
    position: relative;
}

/*Sectoin */

.section-area {
    width: 100%;
}

.section-area.hide-menu {
    display: none;
    z-index: -10;
}

.section-area.show-menu {
    display: block;
    z-index: 1;
}

/* Caminho */

.address {
    margin-bottom: var(--space-tam);
}

.address a {
    font-size: .9em;
    font-weight: 700;
    text-decoration: none;
}

.address .bi {
    font-size: .9em;
    font-weight: 700;
}

/*  */

.title {
    font-size: 2em;
    font-weight: 700;
}

/* Menu Perfil */
#profile-area {
    /*position: relative;*/
    width: 100%;
    height: 100%;
}

#profile-area #personal-data-container {
    padding: 2em 0; 
}

#profile-area figure {
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
}

@media screen and (max-width:900px) {
    #profile-area figure {
        margin: 0 auto;
    }
}

#profile-area figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;

}

#profile-area figure img:hover {
    scale: 1.05;
}

.profile-title {
    font-size: 1.2em;
    margin-right: .5em;
}

.profile-data {
    font-size: 1.1em;
    font-weight: 700;
}

.profile {
    margin-bottom: 1em;
    user-select: none;
    color: var(--text-color);
}
#profile-options {
    margin-top: 3em;
}

.btn {
    background-color: var(--secondary-color);
    font-size: 1em;
    padding: .7em 1.2em;
    border-radius: 4px;
    transition: .3s ease;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hov-color);
}

@media screen and (min-width:900px) {
    #personal-data-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; 
    }

    #personal-data-container figure {
        max-width: 250px;
        max-height: 250px;
    }

    #personal-data-container #personal-data {
        /*width: 100%;*/
        padding: 0 2em;
    }

}

.bg {
    background-color: rgba(2, 2, 16, .7);
    transition: .1s ease;
    position: absolute;
}

.bg.open {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 4;
    opacity: 1;
}

.bg.close {
    z-index: -3;
    opacity: 0;
}

#change-image-container {
    background-color: var(--primary-color);
    transition: .5s ease;
    top: calc(50% - 100px);
    margin-left: 300px;
    position: absolute;
    padding: 2em 5em;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

#change-image-container .new-image {
    margin: 1em 0;
}

#change-image-container figure {
    margin-left: 15%;
}

#change-image-container.hide-modal{
    opacity: 0;
    z-index: -1;
}

#change-image-container.show-modal{
    opacity: 1;
    z-index: 5;
}

#image-upload {
    color: var(--text-color);
}


/* Change pass */

#change-pass-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#change-pass {
    position: absolute;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    padding: 3em;
    margin-top: -20%;
    left: 25%;
}

#change-pass.showPassPanel {
    display: block;
    z-index: 5;
}

#change-pass.hidePassPanel {
    display: none;
    z-index: -2;
}

#change-pass-container.show-modal-pass {
    display: block;
    z-index: 10;
}

#change-pass-container.hide-modal-pass {
    display: none;
    z-index: -1;
}

#change-password {
    cursor: pointer;
}

.profile-options {
    position: relative;
    z-index: 10;
}

#cancel-new-pass {
    margin-left: .5em;
}
/* Área do rodapé */

#footer-area {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1em 0;
    background-color: var(--primary-color);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    user-select: none;
}

/* */
.dash-code {
    position: absolute;
    background-color: var(--primary-color);
    padding: 3em;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: -250px;
    left: 300px;
}

.dash-code.show {
    opacity: 1;
    z-index: 2;
}


.dash-code.hide {
    opacity: 0;
    z-index: -10;
}

#cancel-confirmacion {
    width: 100%;
    
}

/* Notification Area */


.header-right .notificationList {
    position: absolute;
    width: 250px;
    height: 100%;
    border-radius: 4px;
    top:90px;
    right: 0px;
    transition: .3s ease;

}

.header-right .notificationList.visible {
    opacity: 1;
    right: 0px;
    z-index: 1;
}


.header-right .notificationList.NoVisible {
    opacity: 0;
    right:-500px;
    z-index: -3;
}

.notificationList ul {
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: .5em;
    width: 100%;
    color: var(--text-color);
}

.notificationList ul a {
    text-decoration: none;
    font-size: .9em;
    color: var(--text-color);
}

.notificationList ul li {
    padding: .5em;
    border-radius: 4px;
    background-color: var(--background-light);
    margin-bottom: .5em;
    line-height: 1.5em;
    transition: .3s ease;
    cursor: pointer;
}
/*
.notificationList ul li:nth-child(4) {
    margin-bottom: 0em;
}
*/
.notificationList ul li:hover {
    background-color: var(--hov-color);
}

.notificationList ul li:hover a {
    color: #020210;
}

.name-not {
    font-weight: 700;
}

.btn-notification {
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-bottom: .5em;
    transition: .3s ease;
}

.btn-notification:hover a {
    cursor: pointer;
    text-decoration: underline;
}